.titulos{
    font-size: 10px;
}
#wrap-maprj{
    max-height: 600px;
    max-width: 400px;
}
#municipio{
      max-height: 600px;
    max-width: 400px;
}
.mapa-municipio{

}
#test4 {
  
  /* display: inline-block;
  width: 45vw;
  height: 45vw;
  max-width: 90vh;
  max-height: 90vh;
  margin: 1vmin;
  border: navy solid;
  box-sizing: border-box;
  background-color: white; */

}
.css-clipped{
    clip-path: polygon( -1711 943 -314 419 -1083 803 -419 629 -664 105 -489 942 -279 0 -628 385 -175 838 349 1886 175 -245 -629 978 -1222 349 70 873 -769 349 70 838 -1047 -104 -943 593 -1118 175 140 419 -314 0 -280 1781 -733 314 -384 699 -1257 1432 35 523 -420 1293 0 419 -768 663 -244 -35 -350 349 -314 280 175 559 -210 139 -698 803 -210 175 -349 279 70 2166 2130 733 1502 4086 -4121 174 -384 1118 -244 349 -420 349 -2689 1572 -1536 244 -524 -279 -908 175 -419 -175 -210 105 -453 -1188 -1607 35 -244 -314 0 -245 -454 -942 -629 35 -1432 -350 -663 -454 -454 -384 -943 -1083 -524 -174 -594 -6705 2200 -2095 -7927 -210 -314 2200 -1118 1083 -1187 70 105 663 -384 35 -559 699 -419 838 0 244 -908 768 -768 1013 -454 245 -489 -175 -1607 1048 454 384 419 803 140 1222 -1153 245 140 174 -174 245 244 244 -279 699 244 663 -140 70 -279 244 -35 280 524 628 -35 1886 559 559 559 0 -385 594 35 -35 559 384 -175 943 1083 524 -35 209 280 140 -210 419 349 314 454 -559 245 -454 489 -139 1187 -804 1711 -488 279 -175 699 349 140 524 -210 210 384 1257 -314 943 209 873 -384 -105 769 -838 873 279 -35 70 524 -349 69 -594 908 454 140 70 594 559 -105 838 279 384 594 -35 489 -349 419 -908 35 0 489 -629 838 559 1013 175 1571 -210 1572 210 698 -140 698 -279 210 838 838 1257 -105 -2270 3702 2025 873 1013 1153 734 209 558 489 559 -70 489 314 -105 1572 -873 4645 524 0 35 314 663 105 1223 -943 838 70 -105 -280 594 0 -140 349 349 35 -559 1153 -523 244 -769 838 -488 140 -315 454 -1013 629 0 314 1328 1292 -385 1851 1886 3038 -314 2899 -384 384 384 1222 873 838 803 1222 9639 245 384 2200 -35 1676 -664 2060 -524 699 -1082 873 -4645 2584 -3283 2235 -942 -70 244 385 -244 244 -245 -210 -174 210 0 -279 -245 104 -174 -174 -140 594 -1048 -455 -209 245 -629 0 -35 140 -209 -280 104 454 -279 70 -210 -210 -174 140 -419 -524 -1013 105 -419 -174 -664 279 -1082 35 -1327 -2410 -10651 -5832 -734 -628 -70 628 -908 245 -244 1047 -314 140 -280 -279 -943 558 -1711 769 -1466 2479 -978 105 -2445 -524 -419 314 -978 -349 -489 314 -1222 140 -663 384 -315 -69 -1222 69 -978 -558 -384 209 -174 -279 -1118 698 -384 734 -209 -35 -489 488 -210 489 -210 210 -663 -35 -279 -1083 -455 -489 140 -768 -454 -489 210 -104 -35 -664 -629 -908 629 -279 35 454 943 -978 489 -105 733 -908 559 -244 349 -699 -245 -1082 489 -419 -524 -1188 385 -1501 -105 -978 349 -280 -140 -209 384 -699 -838 -384 -1292 210 -3178 -140 -69 -489 -489 -314 -2689 803 -3213 -489 209 -628 -314 -594z);
}
#svg{
    background-color: #000;
}